extends layout
block head
  title= title

block content
  h1= title 

  h2 Title: 
  p= message.title 
  h2 Text: 
  p= message.text

  a(href=`/users/${message.user._id}`)
    p Created by 
      b 
        em @#{message.user.username}

  if editablePost
    button 
      a(href=`/messages/${message._id}/delete`) Delete Message
    br
    button 
      a(href=`/messages/${message._id}/update`) Update Message